@media(max-width: 1024px){
    .info{
        margin-top: 50px;
       }
    .info h2{
        font-size: 3em;
    }
    .info h4{
        margin-top: 20px;
        font-size: 1em;
        font-weight: normal;
        color: #d8d8d8;
        line-height: 1.5;
       }
    .graphic img{
        width: 100%;
       }
       .header .imgCenter{
        margin: 60px 0%;
       }
       
}

@media(max-width: 768px){
    .nav ul li{
        display: none;
       }
       .nav ul b{
        display: block;
        margin-right: 30px;
       }
       .mainInfo{
        display: block;   
 
       }
       .header .position {
           display: none;
       }
       .info .buy{
        margin-left: 100px;
    }
    .graphic img{
        width: 75%;
        margin-left: 90px
       }
       .header{      
        height: 125vh;
        
    }
    .mainService{
        display: block;
        margin-left:  24%;
       
    }
   
}
@media(max-width: 425px){
    .info h2{
        font-size: 2.5em;
        text-align: center;
    }
    .info h4{
        font-size: 1em;
        text-align: center;       
       }
       .info .buy{
        margin-left: 25px;
        width: 150px;
        font-size: 16px;
       }
       .graphic img{
        width: 100%;
        margin-left: 10px;
       }
       .infoService h2{
        font-size: 25px;
        
       }
       .mainService{
        margin-left:  3%;
       
    }
}
@media(max-width: 375px){
    .info h2{
        font-size: 2.2em;
    }
    .info h4{
        font-size: 16px;   
       }
       .info .buy{
        margin-left: 30px;
        width: 120px;
        font-size: 15px;
       }
       .info .explore{
        margin-left: 15px;
        background: #0A2640;
        border: 1px solid white;
        color: white;
        font-size: 16px;
        width: 120px;
    }
    .mainService div{
        display: block;
        margin-left:  25px;
       
    }
}
@media(max-width: 320px){
    .info h2{
        font-size: 2.5em;
        text-align: start;
    }
    .info h4{
        font-size: 16px;  
        text-align: start; 
       }
       .info .buy{
        margin-left: 0px;
        width: 120px;
        font-size: 15px;
       }
       .mainService div{
        display: block;
        margin-left:  0px;
       
    }
}